<!-- This ejs template is used as code for the navbar in all pages-->

<link rel="stylesheet" href="/css/navbar1.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Shift Now</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/houses">All houses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/houses/new">Add your property</a>
                </li>
                <% if(!currentUser) { %>
                    <li>
                        <a href="/signUp" class="nav-link">SignUp</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Login</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile/wishlist">Wishlist</a>
                        </li>
                        <li class="nav-item">
                            <a href="/profile" class="nav-link">Profile</a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>