/* CSS file for Searchbar */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');


.card {
    width: 600px;
    border: none;
    border-radius: 20px
}

.form-control {
    border-radius: 7px;
    border: 1.5px solid #E3E6ED
}

input.form-control:focus {
    box-shadow: none;
    border: 1.5px solid #E3E6ED;
    background-color: #F7F8FD;
    letter-spacing: 1px
}



.btn-primary:focus {
    box-shadow: none
}

.text {
    font-size: 13px;
    color: #9CA1A4
}


@media screen and (max-width: 450px) {
    .card {
        display: flex;
        justify-content: center;
        text-align: center
    }

    .price {
        border: none;
        margin: 0 auto
    }
}